/*Google font - Inter*/
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#b3b3b3, #757578);

}

.chatbot-popup {
    width: 420px;
    background: #fff;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
    0 32px 64px -48px rgba(0,0,0,0.5);
    
}

.chat-header {
    display: flex;
    align-items: center;
    background: #525054;
    padding: 15px 22px;
    justify-content: space-between;

}

.chat-header .header-info {
    display: flex;
    gap: 10px;
    align-items: center;

}

.header-info .chatbot-logo {
    height: 35px;
    width: 35px;
    padding: 6px;
    fill: #454141;
    flex-shrink: 0;
    background: #fff;
    border-radius: 50%;

}

.header-info .logo-text {
    color: #fff;
    font-size: 1.31rem;
    font-weight: 600;
}

.chat-header #close-chatbot {
    border: none;
    color: #fff;
    height: 40px;
    width: 40px;
    font-size: 1.9rem;
    margin-right: -10px;
    padding-top: 2px;
    cursor: pointer;
    border-radius: 50%;
    background: #5d5a5a;

}


.chat-header #close-chatbot:hover {
    background: #343436;
}

.chat-body {
    padding: 25px 22px;
    display: flex;
    gap: 20px;
    height: 460px;
    margin-bottom: 82px;
    overflow-y: auto;
    flex-direction: column;

}

.chat-body .message-text{
    display: flex;
    gap: 11px;
    align-items: center;
}

.chat-body .bot-message .bot-avatar {
    height: 35px;
    width: 35px;
    padding: 6px;
    fill: #fff;
    flex-shrink: 0;
    align-self: flex-end;
    background: #625f5f;
    border-radius: 50%;

}

.chat-footer {
    position: absolute;  
}

.header-info .chatbot-logo,
.chat-body .bot-avatar {
    height: 50px;
    width: 50px;
    padding: 10px;
    fill: #454141;
    flex-shrink: 0;
    background: #fff;
    border-radius: 50%;  
    border: 2px solid #525054; 
    display: flex;
    align-items: center;
    justify-content: center;
}

